body {
    font-family: Georgia, "Times New Roman", Times, serif;
    background-color: #252B48;
    color: #F7E987
}

header {
    text-align: center;
    padding: 10px;
}

header a:link {
    color: #F7E987;
    background-color: transparent;
    text-decoration: none;
  }

  header a:visited {
    color: #FFA200;
    background-color: transparent;
    text-decoration: none;
  }

  header a:hover {
    color: #F7E987;
    background-color: transparent;
    text-decoration: underline;
  }

  header a:active {
    color: #FFA200;
    background-color: transparent;
    text-decoration: underline;
  }

img.main-logo {
    width: 200px;
    height: 200px;
    max-width: 100%;
    border-radius: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #F7E987;
    transition: color 0.3s;
}

nav a:hover {
    color: #fff;
}